<a href="https://colab.research.google.com/github/YgZINTJ/STAT3011_project/blob/main/dataVisualisation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
# @title Downloading datasheet
data_url = 'https://raw.githubusercontent.com/YgZINTJ/STAT3011_project/refs/heads/main/Dog_Bites_Data.csv'
df = pd.read_csv(data_url)

In [12]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22663 entries, 0 to 22662
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UniqueID    22663 non-null  int64
 1   DateOfBite  22663 non-null  datetime64[ns]
 2   Species     22663 non-null  object
 3   Breed       20445 non-null  object
 4   Age         11442 non-null  object
 5   Gender      22663 non-null  object
 6   SpayNeuter  22663 non-null  bool
 7   Borough     22663 non-null  object
 8   ZipCode     16805 non-null  object
 9   Year        22663 non-null  int32
dtypes: bool(1), datetime64[ns](1), int32(1), int64(1), object(6)
memory usage: 1.5+ MB

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode,Year
0,1,2018-01-01,DOG,UNKNOWN,NaN,U,False,Brooklyn,11220,2018
1,2,2018-01-04,DOG,UNKNOWN,NaN,U,False,Brooklyn,NaN,2018
2,3,2018-01-06,DOG,Pit Bull,NaN,U,False,Brooklyn,11224,2018
3,4,2018-01-08,DOG,Mixed/Other,4,M,False,Brooklyn,11231,2018
4,5,2018-01-09,DOG,Pit Bull,NaN,U,False,Brooklyn,11224,2018
...,...,...,...,...,...,...,...,...,...,...
22658,10276,2017-12-24,DOG,CHIWEENIE MIX,7,M,True,Staten Island,10303,2017
22659,10277,2017-12-24,DOG,DUNKER,5,F,True,Staten Island,10303,2017
22660,10278,2017-12-21,DOG,"Schnauzer, Miniature",10M,M,True,Staten Island,10312,2017
22661,10279,2017-12-28,DOG,Mixed/Other,NaN,F,False,Staten Island,10308,2017
22662,10280,2017-12-29,DOG,BOXER/PIT BULL,NaN,M,False,Staten Island,10314,2017

In [9]:
df.isnull().sum()

UniqueID          0
DateOfBite        0
Species           0
Breed          2218
Age           11221
Gender            0
SpayNeuter        0
Borough           0
ZipCode        5858
dtype: int64

In [ ]:
#@title Filling Null Data
df.Breed.fillna('Unspecified', inplace= True)
df.Age.fillna('Not_Given', inplace= True)
df.ZipCode.fillna('Not_Provided', inplace= True)

In [13]:
df['DateOfBite'] = pd.to_datetime(df['DateOfBite'])
df['Year'] = df['DateOfBite'].dt.year
df['Month'] = df['DateOfBite'].dt.month

In [15]:
categorical_columns=[col for col in df.columns if df[col].dtype=='object']
numerical_columns = [col for col in df.columns if df[col].dtype=='float64' or df[col].dtype=='int32']
print(f'categorical columns are:{categorical_columns}')
print(f'numertical columns are:{numerical_columns}')

categorical columns are:['Species', 'Breed', 'Age', 'Gender', 'Borough', 'ZipCode']
numertical columns are:['Year', 'Month']